@page "/"

<PageTitle>Index</PageTitle>
<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Sons of the Marianne</h1>

    <h2>Info about movie club goes here</h2>

 <button class=" btn btn-primary">Primary Button</button>
</div>
